@font-face {
  font-family: "Open Sans";
  font-display: auto;
  src: url("./../fonts/OpenSans-Regular.ttf"), url("./../fonts/OpenSans-Regular.woff"), url("./../fonts/OpenSans-Regular.woff2");
}

@font-face {
  font-family: "Raleway";
  font-display: auto;
  src: url("./../fonts/Raleway.woff2") format("woff2"), url("./../fonts/Raleway.woff") format("woff"), url("./../fonts/Raleway.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  /*font properties*/
  font-size: 62.5%;
}

/*Font System*/
/*color properties*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 1.9rem;
  font-family: "Open Sans";
  color: #0c3c60;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

iframe {
  border: 0;
}

.wrapper {
  margin: auto;
}

.title {
  font-size: 3.5rem;
  color: #2e5776;
  font-weight: normal;
}

hr {
  width: 100px;
  margin: 15px auto 20px;
  border: #0c3c60 1px solid;
}

@media (min-width: 1024px) {
  hr {
    margin-bottom: 70px;
  }
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-weight: normal;
}

.showed {
  overflow: hidden;
}

/*Header*/
header {
  background-color: #ffffff;
  width: 100%;
  height: 160px;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  header {
    margin: auto;
    height: 90px;
  }
}

header .brand {
  padding-left: 20px;
  width: 90%;
}

header .brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c3c60;
}

header .brand a .titleBolder {
  color: #0c3c60;
  font-size: 2rem;
  font-weight: normal;
}

@media (min-width: 768px) {
  header .brand a .titleBolder {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  header .brand a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .brand a img {
  width: 60px;
}

@media (min-width: 768px) {
  header .brand a img {
    width: 65px;
  }
}

@media (min-width: 1024px) {
  header .brand a img {
    width: 80px;
  }
}

@media (min-width: 1024px) {
  header .brand {
    width: 40%;
  }
}

.menu {
  height: 100%;
  width: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

@media (min-width: 1024px) {
  .menu {
    width: 60%;
  }
}

.menu .menuBottom {
  margin-top: 2px;
  padding-right: 30px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  width: 100px;
}

.menu .menuBottom img {
  width: 35px;
}

@media (min-width: 1024px) {
  .menu .menuBottom {
    display: none;
  }
}

.menu .hidden {
  left: -90vw !important;
}

.menu #navContainer {
  position: absolute;
  top: 0px;
  left: -190vw;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media (min-width: 1024px) {
  .menu #navContainer {
    position: static;
    top: 90px;
    width: 100%;
  }
}

.menu #navContainer .menuContainer {
  height: 100vh;
  width: 50vw;
  background-color: #ffffff;
}

@media (min-width: 1024px) {
  .menu #navContainer .menuContainer {
    height: 60px;
    width: 100%;
    top: 0;
    background: transparent;
  }
}

.menu #navContainer .menuContainer .menuDropdown {
  height: 100vh;
  background-color: #dbdbdb;
  padding-top: 80px;
}

@media (min-width: 1024px) {
  .menu #navContainer .menuContainer .menuDropdown {
    background-color: #ffffff;
    padding-top: 0;
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 60px;
  }
}

.menu #navContainer .menuContainer .menuDropdown .menuItem {
  line-height: 5.2rem;
  padding: 0 0 0 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menu #navContainer .menuContainer .menuDropdown .menuItem:last-child {
  border: 0;
}

@media (min-width: 1024px) {
  .menu #navContainer .menuContainer .menuDropdown .menuItem {
    padding: 0;
    line-height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: normal;
  }
  .menu #navContainer .menuContainer .menuDropdown .menuItem:last-child {
    border: 0;
  }
  .menu #navContainer .menuContainer .menuDropdown .menuItem:hover > .menuLink {
    color: #dbdbdb;
  }
  .menu #navContainer .menuContainer .menuDropdown .menuItem:last-child > .menuLink {
    border-right: 0;
  }
}

.menu #navContainer .menuContainer .menuDropdown .menuItem .menuLink {
  color: #0c3c60;
  letter-spacing: 2px;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 1024px) {
  .menu #navContainer .menuContainer .menuDropdown .menuItem .menuLink {
    border-right: #0c3c60 1px solid;
    padding: 0 10px;
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: normal;
  }
}

/*Main View*/
/*intro*/
#intro {
  position: relative;
}

#intro .intro-container {
  background: #0c3c60bd;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#intro .intro-container .intro-content {
  width: 100%;
  background-color: #ffffff50;
  padding: 30px 20px;
  text-align: center;
  font-family: "Raleway";
  color: #ffffff;
}

#intro .intro-container .intro-content .intro-description-bolder {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  #intro .intro-container .intro-content .intro-description-bolder {
    margin-bottom: 8px;
  }
}

#intro .intro-container .intro-content .intro-description-bolder p {
  font-weight: bold;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  #intro .intro-container .intro-content .intro-description-bolder p {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  #intro .intro-container .intro-content .intro-description-bolder p {
    font-size: 2.3rem;
  }
}

#intro .intro-container .intro-content .intro-description-normal h1 {
  font-size: 3.2rem;
  line-height: 2.2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  #intro .intro-container .intro-content .intro-description-normal h1 {
    font-size: 5.9rem;
    line-height: 4.3rem;
    padding: 6px 0;
  }
}

/*card main view*/
.cards-main-view {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1366px;
  margin: auto;
  gap: 20px;
}

@media (min-width: 1024px) {
  .cards-main-view {
    padding: 60px 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px;
  }
}

.cards-main-view .card-main {
  background-color: #0c3c60;
  color: #ffffff;
  padding: 60px 40px;
  text-align: center;
  position: relative;
}

@media (min-width: 1024px) {
  .cards-main-view .card-main {
    padding: 40px 50px;
    width: 310px;
  }
}

.cards-main-view .card-main h2 {
  font-family: "Raleway";
  font-size: 2.9rem;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .cards-main-view .card-main h2 {
    font-size: 2.3rem;
  }
}

.cards-main-view .card-main p {
  margin-bottom: 30px;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

@media (min-width: 1024px) {
  .cards-main-view .card-main p {
    line-height: 2.4rem;
    margin-bottom: 65px;
  }
}

.cards-main-view .card-main .read-more-btn {
  background-color: #6ea4ca;
  padding: 8px 0;
  color: #ffffff;
  font-size: 1.8rem;
  display: block;
  width: 60%;
  margin: auto;
}

.cards-main-view .card-main .read-more-btn:hover {
  color: #0c3c60;
}

@media (min-width: 1024px) {
  .cards-main-view .card-main .read-more-btn {
    width: 130px;
    font-size: 1.6rem;
    padding: 10px 0;
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
  }
}

/*about main view*/
.about-main-view {
  margin: 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./../assets/images/aboutUs/ourVision.jpg");
  background-position-y: 0;
}

.about-main-view .overlay {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  background-color: #0c3c60bd;
  padding: 60px 35px 85px;
  text-align: center;
  color: #ffffff;
}

.about-main-view .overlay h2 {
  margin-bottom: 35px;
  font-family: "Raleway";
  font-size: 2.8rem;
  line-height: 5rem;
}

@media (min-width: 1024px) {
  .about-main-view .overlay h2 {
    font-size: 5.8rem;
  }
}

.about-main-view .overlay p {
  max-width: 700px;
  margin: 0 auto 60px;
  line-height: 2.6rem;
}

@media (min-width: 1024px) {
  .about-main-view .overlay p {
    text-align: justify;
    font-size: 1.6rem;
  }
}

.about-main-view .overlay a {
  background-color: #6ea4ca;
  padding: 8px 0;
  color: #ffffff;
  font-size: 1.7rem;
  display: block;
  width: 60%;
  margin: auto;
}

.about-main-view .overlay a:hover {
  color: #0c3c60;
}

@media (min-width: 1024px) {
  .about-main-view .overlay a {
    width: 120px;
    font-size: 1.5rem;
  }
}

/*contact us main view*/
#contactus .contactus-container {
  padding: 50px 25px 40px;
  text-align: center;
  color: #ffffff;
  background-color: #2e5776;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#contactus .contactus-container h2 {
  margin-bottom: 35px;
  font-family: "Raleway";
  font-size: 2.8rem;
  line-height: 5rem;
}

@media (min-width: 1024px) {
  #contactus .contactus-container h2 {
    font-size: 5.8rem;
    line-height: 5.5rem;
  }
}

#contactus .contactus-container .contactus-content {
  max-width: 915px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "card1 card2" "card3 card4";
  }
}

#contactus .contactus-container .contactus-content .form-description {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .form-description {
    grid-area: card2;
    padding: 0 25px;
  }
}

#contactus .contactus-container .contactus-content .form-description p:nth-child(1) {
  margin: 0 0 50px;
  font-size: 1.7rem;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .form-description p:nth-child(1) {
    margin-bottom: 35px;
    line-height: 2.3rem;
  }
}

#contactus .contactus-container .contactus-content .form-description p:nth-child(2) {
  text-align: left;
  margin: 10px 0;
  font-size: 1.7rem;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .form-description p:nth-child(2) {
    margin-bottom: 0;
    line-height: 2.2rem;
  }
}

#contactus .contactus-container .contactus-content .form-container {
  margin-top: 10px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .form-container {
    margin-top: -20px;
    padding: 0 25px;
    grid-area: card4;
    width: 100%;
  }
}

#contactus .contactus-container .contactus-content .form-container #mailto {
  visibility: hidden;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .form-container form {
    text-align: right;
  }
}

#contactus .contactus-container .contactus-content .form-container form .form-control {
  margin-bottom: 12px;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .form-container form .form-control {
    margin-bottom: 8px;
  }
}

#contactus .contactus-container .contactus-content .form-container form .form-control input {
  width: 100%;
  padding-left: 10px;
  border: 0;
  outline: none;
  height: 30px;
}

#contactus .contactus-container .contactus-content .form-container form .form-control input::-webkit-input-placeholder {
  font-family: "Open Sans";
  color: #2e5776;
  font-size: 1.6rem;
  padding-left: 5px;
}

#contactus .contactus-container .contactus-content .form-container form .form-control input:-ms-input-placeholder {
  font-family: "Open Sans";
  color: #2e5776;
  font-size: 1.6rem;
  padding-left: 5px;
}

#contactus .contactus-container .contactus-content .form-container form .form-control input::-ms-input-placeholder {
  font-family: "Open Sans";
  color: #2e5776;
  font-size: 1.6rem;
  padding-left: 5px;
}

#contactus .contactus-container .contactus-content .form-container form .form-control input::placeholder {
  font-family: "Open Sans";
  color: #2e5776;
  font-size: 1.6rem;
  padding-left: 5px;
}

#contactus .contactus-container .contactus-content .form-container form .form-control textarea {
  width: 100%;
  height: 170px;
  padding-left: 5px;
  padding-top: 10px;
  outline: none;
}

#contactus .contactus-container .contactus-content .form-container form .form-control textarea::-webkit-input-placeholder {
  font-family: "Open Sans";
  color: #2e5776;
  font-size: 1.6rem;
  padding-left: 15px;
  padding-top: 3px;
}

#contactus .contactus-container .contactus-content .form-container form .form-control textarea:-ms-input-placeholder {
  font-family: "Open Sans";
  color: #2e5776;
  font-size: 1.6rem;
  padding-left: 15px;
  padding-top: 3px;
}

#contactus .contactus-container .contactus-content .form-container form .form-control textarea::-ms-input-placeholder {
  font-family: "Open Sans";
  color: #2e5776;
  font-size: 1.6rem;
  padding-left: 15px;
  padding-top: 3px;
}

#contactus .contactus-container .contactus-content .form-container form .form-control textarea::placeholder {
  font-family: "Open Sans";
  color: #2e5776;
  font-size: 1.6rem;
  padding-left: 15px;
  padding-top: 3px;
}

#contactus .contactus-container .contactus-content .form-container form .btn-sumbit {
  border: 0;
  outline: none;
  background-color: #6ea4ca;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 1.7rem;
  width: 100%;
  cursor: pointer;
}

#contactus .contactus-container .contactus-content .form-container form .btn-sumbit:hover {
  color: #0c3c60;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .form-container form .btn-sumbit {
    width: 41%;
    padding: 6px 10px;
  }
}

#contactus .contactus-container .contactus-content .contactus-map {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .contactus-map {
    width: 487px;
    grid-area: card1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
}

#contactus .contactus-container .contactus-content .contactus-map #map {
  width: 100%;
  height: 270px;
}

@media (min-width: 1024px) {
  #contactus .contactus-container .contactus-content .contactus-map #map {
    height: 520px;
  }
}

/*About*/
#about {
  text-align: center;
  padding: 40px 20px;
}

#about h1 {
  display: none;
}

@media (min-width: 1024px) {
  #about h1 {
    display: block;
  }
}

#about hr {
  display: none;
}

@media (min-width: 1024px) {
  #about hr {
    display: block;
  }
}

@media (min-width: 1024px) {
  #about .about-cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

#about .about-cards-container .card-container {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  #about .about-cards-container .card-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 200px;
  }
  #about .about-cards-container .card-container:nth-child(1) {
    background-image: url("./../assets/images/aboutUs/ourVision.jpg");
    background-position: 40% center;
  }
  #about .about-cards-container .card-container:nth-child(2) {
    background-image: url("./../assets/images/aboutUs/ourTeam.jpg");
    background-position: 40% center;
  }
  #about .about-cards-container .card-container:nth-child(3) {
    background-image: url("./../assets/images/aboutUs/ourMission.jpg");
    background-position: 40% center;
  }
}

#about .about-cards-container .card-container .card {
  padding: 40px 20px;
  background-color: #f2f5f7;
  color: #0c3c60;
}

@media (min-width: 1024px) {
  #about .about-cards-container .card-container .card {
    color: #ffffff;
    background-color: #0c3c60bd;
    height: 100%;
    width: 100%;
    padding: 60px 30px;
    opacity: 0;
    -webkit-transition: visibility 0.5s ease-in-out;
    transition: visibility 0.5s ease-in-out;
  }
}

#about .about-cards-container .card-container .card h3 {
  font-size: 2.3rem;
  line-height: 3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  #about .about-cards-container .card-container .card h3 {
    font-size: 2.2rem;
  }
}

#about .about-cards-container .card-container .card p {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@media (min-width: 1024px) {
  #about .about-cards-container .card-container .card p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: left;
  }
}

#about .about-cards-container .card-container:hover > .card {
  opacity: 1;
}

/*distribution*/
#distribution {
  text-align: center;
  padding: 40px 20px;
}

#distribution .distribution-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#distribution .distribution-container .distribution-description-container {
  margin-bottom: 30px;
  max-width: 700px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  #distribution .distribution-container .distribution-description-container {
    margin: 60px auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#distribution .distribution-container .distribution-description-container p {
  margin: auto;
  text-align: justify;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #2e5776;
}

#distribution .distribution-container .distribution-cards-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: auto;
  max-width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  #distribution .distribution-container .distribution-cards-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

#distribution .distribution-container .distribution-cards-container .card-container {
  -webkit-box-shadow: 1px 1px 8px #ffffff50;
          box-shadow: 1px 1px 8px #ffffff50;
  min-width: 135px;
  max-width: 280px;
  width: 135px;
}

@media (min-width: 768px) {
  #distribution .distribution-container .distribution-cards-container .card-container {
    width: 220px;
  }
}

#distribution .distribution-container .distribution-cards-container .card-container .card-container-image {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#distribution .distribution-container .distribution-cards-container .card-container .card-container-image:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

#distribution .distribution-container .distribution-cards-container .card-container .card-container-title {
  background-color: #d1e0eb;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5px;
  color: #2e5776;
}

#distribution .distribution-container .distribution-cards-container .card-container .card-container-title h3 {
  font: normal normal normal 14.88px/1.4em "Open Sans", sans-serif;
}

/*network*/
#network {
  padding: 40px 20px;
}

@media (min-width: 1024px) {
  #network {
    padding-bottom: 80px;
  }
}

#network .map-container {
  max-width: 1000px;
  margin: auto;
}

#network .description-network {
  margin: 40px 0;
}

@media (min-width: 1024px) {
  #network .description-network {
    max-width: 900px;
    margin: 40px auto;
  }
}

#network .description-network p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  #network .description-network p {
    line-height: 2.4rem;
    text-align: justify;
  }
}

#network .description-network p span {
  font-weight: bold;
}

#network .description-cloud-container {
  text-align: center;
}

@media (min-width: 1024px) {
  #network .description-cloud-container {
    max-width: 915px;
    margin: auto;
  }
}

#network .description-cloud-container .description-cloud-content {
  position: relative;
  background: #39729b;
  padding: 20px;
  text-align: center;
}

#network .description-cloud-container .description-cloud-content p {
  font-style: italic;
  position: relative;
  z-index: 10;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.3rem;
  padding: 5px 0;
}

#network .description-cloud-container .description-cloud-content::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  background-color: #39729b;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#network .description-cloud-container .description-cloud-author p {
  margin-top: 20px;
  font-size: 1.5rem;
}

#portfolio {
  max-width: 1024px;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
}

#portfolio .swiper {
  width: 100%;
  height: 100%;
}

#portfolio .swiper .arrow-back,
#portfolio .swiper .arrow-next {
  z-index: 20;
  cursor: pointer;
}

#portfolio .swiper .containerArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 765px;
  margin: auto;
  position: absolute;
  bottom: 45px;
  right: 0;
}

@media (min-width: 398px) {
  #portfolio .swiper .containerArrow {
    bottom: 27px;
  }
}

#portfolio .swiper .containerArrow .pagination {
  z-index: 10;
  font-size: 1.6rem;
  width: 50px !important;
}

#portfolio .swiper .swiper-slide {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio .swiper .swiper-slide .portfolio-image {
  width: 100%;
}

#portfolio .swiper .swiper-slide .alignement {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0c3c60;
  max-width: 1024px;
  padding: 10px 0px;
}

#portfolio .swiper .swiper-slide .alignement div:first-child {
  width: 100%;
  text-align: initial;
}

#portfolio .swiper .swiper-slide .alignement div:first-child h4 {
  font-weight: normal;
  font-size: 1.8rem;
}

#portfolio .swiper .swiper-slide .alignement div:first-child p {
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  #portfolio .swiper .swiper-slide .alignement div:first-child p {
    font-size: 1.4rem;
  }
}

#portfolio .portfolio-description {
  margin: 30px 0 10px;
}

@media (min-width: 768px) {
  #portfolio .portfolio-description {
    margin: 50px 0 10px;
  }
}

@media (min-width: 1024px) {
  #portfolio .portfolio-description {
    margin-bottom: 160px;
  }
}

#portfolio .portfolio-description p {
  color: #2e5776;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: left;
}

@media (min-width: 1024px) {
  #portfolio .portfolio-description p {
    line-height: 2.4rem;
    text-align: justify;
  }
}

/*footer*/
#footer {
  padding: 15px 0 0 0;
  background-color: #0c3c60;
  color: #ffffff;
  font-size: 1.7rem;
}

@media (min-width: 1024px) {
  #footer {
    font-size: 1.3rem;
  }
}

#footer div {
  max-width: 930px;
  margin: auto;
}

#footer div:first-child {
  padding: 10px 20px 0;
}

#footer div:first-child p {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 1024px) {
  #footer div:first-child p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

#footer div:last-child {
  padding: 15px 20px 20px;
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  #footer div:last-child {
    padding: 5px 20px 20px 20px;
  }
}
/*# sourceMappingURL=styles.css.map */