* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Regular.ttf"),
    url("./../fonts/OpenSans-Regular.woff"),
    url("./../fonts/OpenSans-Regular.woff2");
}
@font-face {
  font-family: "Raleway";
  src: url("./../fonts/Raleway-Thin.ttf"), url("./../fonts/Raleway-Thin.woff"),
    url("./../fonts/Raleway-Thin.woff2");
}
:root {
  font-size: 62.5%;
  --fontTitle: "Raleway";
  --fontBase: "Open Sans";
  --font-color-main: #0c3c60;
  --font-color1: #ffffff;
  --font-color2: #5f8099;
  --font-color3: rgb(40, 68, 158);
  --font-color4: #28449e;
  --overlay1: #ffffff50;
  --overlay2: #3668889a;
  --overlay: #0a177ea3;
  --bg-card-main: #0c3c60;
  --bg-contact-main: #2e5776;
  --bg-color-footer: #0c3c60;
  --bg-color-card-about: lightgrey;
  --bg-btn: #6ea4ca;
  --bg-color1: #ffffff;
  --bg-color2: yellow;
  --bg-color3: green;
  --bg-color4: red;

  --font-body: 1.6rem;
  --font-caption: 1.4rem;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: var(--font-body);
  font-family: var(--fontBase);
  color: var(--font-color-main);
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
iframe {
  border: 0;
}
.wrapper {
  margin: auto;
  max-width: 1024px;
}
main {
  padding-top: 60px;
}

/*Header*/

header {
  background-color: var(--bg-color1);
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 20;
}
.menu {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

header .menu label {
  padding-right: 30px;
  cursor: pointer;
}

.menuBotton {
  display: none;
}

.navContainer {
  position: absolute;
  top: 60px;
  right: -600px;
  transition: all 0.5s ease-out;
}

.menuContainer {
  height: 100vh;
  width: 50vw;
  background-color: var(--bg-color1);
}

.menuDropdown {
  height: 100vh;
  color: var(--bg-color3);
}

.menuItem {
  font-size: 1.7rem;
  line-height: 7rem;
  padding: 0 0 0 30px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menuLink {
  color: var(--bg-color3);
  transition: all 0.5s ease-in-out;
}

.menuItem:hover {
  box-shadow: 768px 0 8px var(--bg-color4) inset;
}

.menuItem:hover > .menuLink {
  color: var(--bg-color2);
}

.menu label img {
  width: 35px;
}
.menuBotton:checked ~ .navContainer {
  right: 0;
}

@media screen and (min-width: 1024px) {
  header {
    max-width: 1024px;
  }
  .menu label {
    display: none;
  }
  .navContainer {
    position: static;
    top: 0;
  }
  .menuDropdown {
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    height: 60px;
  }
  .menuContainer {
    height: 60px;
    width: 100vw;
    top: 0;
    background: transparent;
  }
  .menuItem {
    padding: 0 10px;
  }
  .menuItem:hover {
    box-shadow: 100% 0 0 #ffffff inset;
  }
}
/*Main View*/

/*intro*/
#intro {
  background-color: var(--bg-color3);
  height: 90vh;
  display: flex;
  align-items: center;
}
.intro-container {
  width: 100%;
  background-color: var(--overlay1);
  padding: 20px;
  text-align: center;
  font-family: var(--fontTitle);
  color: var(--font-color1);
}
.intro-description-bolder {
  margin-bottom: 20px;
}
.intro-description-bolder p {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2rem;
}
.intro-description-normal h1 {
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 2.2rem;
}
/*card main view*/
.cards-main-view {
  background-color: var(--bg-color1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-main {
  background-color: var(--bg-btn);
  color: var(--font-color1);
  padding: 40px 20px;
  text-align: center;
}
.card-main h2 {
  font-family: var(--fontTitle);
  font-weight: 400;
  margin-bottom: 20px;
}
.card-main p {
  margin-bottom: 40px;
}
.read-more-btn {
  background-color: var(--bg-color3);
  padding: 10px 20px;
  color: var(--font-color1);
  font-size: var(--font-caption);
}
/*about main view*/
.about-main-view {
  background-image: url("./../assets/images/aboutUs/ourVision.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-main-view .overlay {
  background: var(--overlay2);
  padding: 40px 20px;
  text-align: center;
  color: var(--font-color1);
}

.about-main-view .overlay h2 {
  margin-bottom: 30px;
  font-family: var(--fontTitle);
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
}
.about-main-view .overlay p {
  max-width: 768px;
  margin: 0 auto 30px;
}

@media screen and (min-width: 1024px) {
  .cards-main-view {
    padding: 60px 40px;
    flex-direction: row;
  }
}
/*contact us main view*/

#contactus {
  padding: 40px 20px;
  text-align: center;
  color: var(--font-color1);
  background: var(--bg-contact-main);
}
#contactus h2 {
  margin-bottom: 30px;
  font-family: var(--fontTitle);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.contactus-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-container p:nth-child(1) {
  margin: 0 0 30px;
}
.form-container p:nth-child(2) {
  text-align: left;
  margin-bottom: 30px;
}

.form-container .form-control {
  margin-bottom: 20px;
}

.form-container .form-control input,
.form-container .form-control textarea {
  width: 100%;
  padding-left: 5px;
}
.form-container .form-control input {
  border: 0;
  outline: none;
  height: 40px;
}

.form-container .form-control input::placeholder,
.form-container .form-control textarea::placeholder {
  font-family: var(--fontBase);
  color: var(--bg-card-main);
  font-size: var(--font-caption);
  padding-left: 5px;
}
.form-container .form-control textarea::placeholder {
  padding-top: 5px;
}

.btn-sumbit {
  background-color: var(--bg-btn);
  padding: 10px 40px;
  color: var(--font-color1);
  font-size: var(--font-caption);
  border: 0;
  outline: none;
}

@media screen and (min-width: 768px) {
  .contactus-content {
    flex-direction: row;
  }
  .form-container {
    order: 2;
    width: 50%;
  }
  .contactus-description {
    order: 1;
    width: 50%;
  }
}

/*About*/

#about {
  text-align: center;
  padding: 40px 0;
}
#about h1 {
  font-size: 4rem;
}
#about hr {
  width: 100px;
  margin: 0 auto;
}

#about .card-container {
  margin-top: 30px;
}
#about .card-container .card {
  padding: 20px;
  background-color: var(--bg-color-card-about);
}
#about .card-container .card h3 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
#about .card-container .card p {
  font-size: var(--font-caption);
  line-height: 1.6rem;
}

@media screen and (min-width: 1024px) {
  #about .about-cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  #about .card-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    max-width: 250px;
  }

  #about .card-container1 {
    background-image: url("./../assets/images/aboutUs/ourVision.jpg");
  }
  #about .card-container2 {
    background-image: url("./../assets/images/aboutUs/ourTeam.jpeg");
  }
  #about .card-container3 {
    background-image: url("./../assets/images/aboutUs/ourMission.jpg");
  }
  #about .card-container .card {
    color: var(--font-color1);
    background-color: var(--overlay2);
    height: 100%;
    width: 100%;
    padding: 60px 40px;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;
  }

  #about .card-container:hover > .card {
    visibility: visible;
  }
}

/*distribution*/
#distribution {
  text-align: center;
  padding: 40px 20px;
}
#distribution h1 {
  font-size: 4rem;
}
#distribution hr {
  width: 100px;
  margin: 0 auto 30px;
}
.distribution-container {
  display: flex;
  flex-direction: column;
}
.distribution-description-container {
  margin-bottom: 30px;
  max-width: 1024px;
  order: 1;
}
.distribution-description-container p {
  margin: auto;
}
.distribution-cards-container {
  order: 2;
  margin: auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.card-container-title {
  background-color: var(--bg-color2);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
}
/*Portfolio*/
#portfolio {
  padding: 40px 20px;
}
#portfolio h1 {
  font-size: 4rem;
  text-align: center;
}
#portfolio hr {
  width: 100px;
  margin: 0 auto 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: block;

  justify-content: center;

  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.alignement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alignement div:first-child {
  width: 100%;
}

.portfolio-image {
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio-image1 {
  background-image: url("./../assets/images/portfolio/watches.jpg");
}
.portfolio-image2 {
  background-image: url("./../assets/images/portfolio/jewlery.jpg");
}
.portfolio-image3 {
  background-image: url("./../assets/images/portfolio/handbags.jpg");
}
.portfolio-image4 {
  background-image: url("./../assets/images/portfolio/travelGear.jpg");
}
.portfolio-image5 {
  background-image: url("./../assets/images/portfolio/homeGoods.jpg");
}
.portfolio-image6 {
  background-image: url("./../assets/images/portfolio/moreToCome.jpg");
}

.swiper-pagination {
  position: static;
  text-align: end;
}
.portfolio-description {
  margin: 0 0 20px;
}
@media screen and (min-width: 768px) {
  .portfolio-image {
    height: 320px;
  }
}

/*network*/

#network {
  text-align: center;
  padding: 40px 20px;
}
#network h1 {
  font-size: 4rem;
}
#network hr {
  width: 100px;
  margin: 0 auto 30px;
}

.description-network {
  margin: 40px 0;
}
.description-network p span {
  font-weight: bold;
}
.description-cloud-content {
  position: relative;
  background: var(--bg-color2);
  padding: 20px;
}
.description-cloud-content p {
  font-style: italic;
  position: relative;
  z-index: 10;
}
.description-cloud-content::after {
  content: " ";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 15px);
  background: var(--bg-color2);
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}
.description-cloud-author p {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .distribution-description-container {
    margin-top: 30px;
    order: 2;
  }
  .distribution-cards-container {
    order: 1;
    flex-direction: row;
    justify-content: center;
  }
  .distribution-cards-container .card-container {
    width: 300px;
  }
}
/*footer*/
#footer {
  padding: 20px 0 0 0;
  background-color: var(--bg-color-footer);
  color: var(--font-color1);
}

#footer div:first-child {
  padding: 20px;
}

#footer div:first-child p {
  line-height: 2.1rem;
}
#footer div:last-child {
  background-color: var(--bg-color2);
  margin-top: 20px;
  padding: 20px;
}
