@font-face {
  font-family: "Open Sans";
  font-display: auto;
  src: url("./../fonts/OpenSans-Regular.ttf"),
    url("./../fonts/OpenSans-Regular.woff"),
    url("./../fonts/OpenSans-Regular.woff2");
}
@font-face {
  font-family: "Raleway";
  font-display: auto;
  src: url("./../fonts/Raleway.woff2") format("woff2"),
    url("./../fonts/Raleway.woff") format("woff"),
    url("./../fonts/Raleway.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
