@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Regular.ttf"),
    url("./../fonts/OpenSans-Regular.woff"),
    url("./../fonts/OpenSans-Regular.woff2");
}
@font-face {
  font-family: "Raleway";
  src: url("./../fonts/Raleway-Thin.ttf"), url("./../fonts/Raleway-Thin.woff"),
    url("./../fonts/Raleway-Thin.woff2");
}
