* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: $font-body;
  font-family: $fontBase;
  color: $color2;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
iframe {
  border: 0;
}
.wrapper {
  margin: auto;
}

.title {
  font-size: 3.5rem;
}
hr {
  width: 100px;
  margin: 15px auto 40px;
  border: $color2 1px solid;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
