/*Header*/

header {
  background-color: $white;
  width: 100%;
  height: 160px;
  max-width: 1024px;
  display: flex;
  align-items: center;
  @include desktop {
    margin: auto;
    height: 90px;
  }
  .brand {
    padding-left: 20px;
    width: 90%;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        flex-direction: row;
      }
      img {
        width: 80px;
        @include tablet {
          width: 100px;
        }
        @include desktop {
          width: 80px;
        }
      }
    }
    @include desktop {
      width: 40%;
    }
  }
}
.menu {
  height: 100%;
  width: 10%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  @include desktop {
    width: 60%;
  }
  .menuBottom {
    margin-top: 2px;
    padding-right: 30px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    width: 100px;
    img {
      width: 35px;
    }
    @include desktop {
      display: none;
    }
  }
  .hidden {
    left: -90vw !important;
  }

  #navContainer {
    position: absolute;
    top: 0px;
    left: -190vw;
    transition: all 0.5s ease-out;
    @include desktop {
      position: static;
      top: 90px;
      width: 100%;
    }
    .menuContainer {
      height: 100vh;
      width: 50vw;
      background-color: $white;
      @include desktop {
        height: 60px;
        width: 100%;
        top: 0;
        background: transparent;
      }
      .menuDropdown {
        height: 100vh;
        background-color: $color5;
        padding-top: 80px;
        @include desktop {
          background-color: $white;
          padding-top: 0;
          padding-right: 15px;
          display: flex;
          justify-content: flex-end;
          height: 60px;
        }
        .menuItem {
          line-height: 5.2rem;
          padding: 0 0 0 30px;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          &:last-child {
            border: 0;
          }
          @include desktop {
            padding: 0;
            line-height: 2rem;
            display: flex;
            align-items: center;
            font-weight: normal;

            &:last-child {
              border: 0;
            }
            &:hover > .menuLink {
              color: $color5;
            }
            &:last-child > .menuLink {
              border-right: 0;
            }
          }
          .menuLink {
            color: $color2;
            letter-spacing: 2px;
            font-size: 2rem;
            transition: all 0.5s ease-in-out;
            @include desktop {
              border-right: $color2 1px solid;
              padding: 0 10px;
              font-size: 1.6rem;
              line-height: 3rem;
              letter-spacing: normal;
            }
          }
        }
      }
    }
  }
}
