/*Header*/

header {
  background-color: $white;
  width: 100%;
  height: 180px;
  /* position: fixed;
  z-index: 20; */
  display: flex;
  align-items: center;
  @include desktop {
    height: 90px;
  }
  .brand {
    padding-left: 20px;
    width: 20%;
  }
}
.menu {
  height: 100%;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  label {
    margin-top: 5px;
    padding-right: 30px;
    cursor: pointer;
    img {
      width: 35px;
    }
    @include desktop {
      display: none;
    }
  }
  .menuBotton {
    display: none;
    &:checked ~ .navContainer {
      left: -25%;
    }
  }
  .navContainer {
    position: absolute;
    top: 0px;
    left: -800px;
    transition: all 0.5s ease-out;
    @include desktop {
      position: static;
      top: 90px;
      width: 100%;
    }
    .menuContainer {
      height: 100vh;
      width: 50vw;
      background-color: $white;
      @include desktop {
        height: 60px;
        width: 100%;
        top: 0;
        background: transparent;
      }
      .menuDropdown {
        height: 100vh;
        background-color: $color5;
        padding-top: 80px;
        @include desktop {
          background-color: $white;
          padding-top: 0;
          padding-right: 15px;
          display: flex;
          justify-content: flex-end;
          height: 60px;
        }
        .menuItem {
          font-size: 2rem;
          line-height: 5rem;
          padding: 0 0 0 30px;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          &:last-child {
            border: 0;
          }
          @include desktop {
            padding: 0;
            line-height: 2rem;
            display: flex;
            align-items: center;
            font-weight: normal;
            /*border-right: solid 0.5px $color2;*/
            &:last-child {
              border: 0;
            }
            &:hover > .menuLink {
              color: $color5;
            }
            &:last-child > .menuLink {
              border-right: 0;
            }
          }
          .menuLink {
            color: $color2;
            letter-spacing: 2px;

            transition: all 0.5s ease-in-out;
            @include desktop {
              border-right: #0c3c60 1px solid;
              padding: 0 10px;
              font-size: 1.7rem;
              line-height: 3rem;
              letter-spacing: normal;
            }
          }
        }
      }
    }
  }
}
