/*Main View*/

/*intro*/
#intro {
  background-color: $color1;
  height: 90vh;
  display: flex;
  align-items: center;
  .intro-container {
    width: 100%;
    background-color: $overlay1;
    padding: 40px 20px;
    text-align: center;
    font-family: $fontTitle;
    color: $white;
    .intro-description-bolder {
      margin-bottom: 20px;
      letter-spacing: 0.05em;
      p {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }

    .intro-description-normal {
      h1 {
        font-weight: 400;
        font-size: 2.7rem;
        line-height: 2.2rem;
      }
    }
  }
}
/*card main view*/
.cards-main-view {
  background-color: $white;
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  margin: auto;
  gap: 20px;
  @include desktop {
    padding: 60px 40px;
    flex-direction: row;
  }
  .card-main {
    background-color: $color2;
    color: $white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: 1px 1px 8px $black;
    h2 {
      font-family: $fontTitle;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
      font-size: 1.9rem;
      line-height: 2.6rem;
    }
  }
  .read-more-btn {
    background-color: $color3;
    padding: 12px 30px;
    color: $white;
    font-size: 1.9rem;
  }
}
/*about main view*/
.about-main-view {
  margin: 20px 0;
  .overlay {
    background-color: $overlay2;
    padding: 60px 40px;
    text-align: center;
    color: $white;
    h2 {
      margin-bottom: 30px;
      font-family: $fontTitle;
      font-size: 4rem;
      line-height: 5rem;
      font-weight: 700;
    }
    p {
      max-width: 768px;
      margin: 0 auto 70px;
      font-size: 1.9rem;
      line-height: 2.6rem;
    }
    a {
      background-color: $color3;
      padding: 12px 30px;
      color: $white;
      font-size: 1.9rem;
    }
  }
  @include bgImages;
  background-image: url("./../assets/images/aboutUs/ourVision.jpg");
}

/*contact us main view*/

#contactus {
  padding: 40px 20px;
  text-align: center;
  color: $white;
  background-color: $color1;
  h2 {
    margin-bottom: 30px;
    font-family: $fontTitle;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
  }
  .contactus-content {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      flex-direction: row;
    }
    .form-container {
      @include tablet {
        order: 2;
        width: 50%;
      }
      @include desktop {
        padding: 0 40px;
      }
      p {
        &:nth-child(1) {
          margin: 0 0 10px;
          font-size: 1.9rem;
          line-height: 2.6rem;
        }
        &:nth-child(2) {
          text-align: left;
          margin-bottom: 10px;
          margin-top: 20px;
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
      #mailto {
        visibility: hidden;
      }
      form {
        @include desktop {
          text-align: right;
        }
        .form-control {
          margin-bottom: 7px;
          input {
            width: 100%;
            padding-left: 10px;
            border: 0;
            outline: none;
            height: 30px;
            &::placeholder {
              font-family: $fontBase;
              color: $color1;
              font-size: $font-caption;
              padding-left: 5px;
            }
          }
          textarea {
            width: 100%;
            height: 130px;
            padding-left: 5px;
            padding-top: 5px;
            outline: none;
            &::placeholder {
              font-family: $fontBase;
              color: $color1;
              font-size: $font-caption;
              padding-left: 5px;
              padding-top: 3px;
            }
          }
        }
        .btn-sumbit {
          border: 0;
          outline: none;
          background-color: $color3;
          padding: 12px 30px;
          color: $white;
          font-size: 1.9rem;
          width: 100%;
          @include desktop {
            width: 40%;
            padding: 5px 10px;
          }
        }
      }
    }
    .contactus-description {
      @include tablet {
        order: 1;
        width: 50%;
      }
      #map {
        width: 100%;
        height: 340px;
        @include desktop {
          height: 440px;
        }
      }
    }
  }
}
