/*Main View*/

/*intro*/
#intro {
  background-color: $color1;
  height: 75vh;
  display: flex;
  align-items: center;
  @include tablet {
    height: 100vh;
  }
  .intro-container {
    width: 100%;
    background-color: $overlay1;
    padding: 35px 20px;
    text-align: center;
    font-family: $fontTitle;
    color: $white;
    /* @include tablet {
      padding: 45px 20px;
    } */
    .intro-description-bolder {
      margin-bottom: 20px;
      letter-spacing: 0.05em;
      @include desktop {
        margin-bottom: 10px;
      }
      p {
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.5rem;
        @include tablet {
          letter-spacing: 2px;
          font-weight: 700;
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }

    .intro-description-normal {
      h1 {
        font-weight: 400;
        font-size: 3.1rem;
        line-height: 2.2rem;
        @include tablet {
          font-size: 5.3rem;
          line-height: 5.3rem;
          padding: 8px 0 15px;
        }
        @include desktop {
          font-size: 5.8rem;
          line-height: 4.3rem;
        }
      }
    }
  }
}
/*card main view*/
.cards-main-view {
  background-color: $white;
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  margin: auto;
  gap: 20px;
  @include desktop {
    padding: 60px 40px;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }
  .card-main {
    background-color: $color2;
    color: $white;
    padding: 100px 60px;
    text-align: center;
    @include desktop {
      width: 320px;
    }

    h2 {
      font-family: $fontTitle;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 20px;
      /* @include tablet {
        font-size: 5rem;
      } */
    }
    p {
      margin-bottom: 30px;
      font-size: 1.9rem;
      line-height: 2.6rem;
      /*  @include tablet {
        margin-bottom: 50px;
        padding: 0 20px;
        font-size: 3rem;
        line-height: 4.4rem;
      } */
    }
  }
  .read-more-btn {
    background-color: $color3;
    padding: 15px 0;
    color: $white;
    font-size: 2.3rem;
    display: block;
    width: 190px;
    margin: auto;
    /*  @include tablet {
      width: 310px;
      padding: 15px 0;
      font-size: 3.5rem;
    } */
  }
}
/*about main view*/
.about-main-view {
  margin: 20px 0;
  .overlay {
    background-color: $overlay2;
    padding: 60px 40px 85px;
    text-align: center;
    color: $white;
    h2 {
      margin-bottom: 35px;
      font-family: $fontTitle;
      font-size: 3.2rem;
      line-height: 5rem;
      font-weight: 500;
      /* @include tablet {
        font-size: 5rem;
      } */
      @include desktop {
        font-size: 5.5rem;
      }
    }
    p {
      max-width: 768px;
      margin: 0 auto 90px;
      font-size: 1.8rem;
      line-height: 2.8rem;
      /* @include tablet {
        max-width: 768px;
        margin: 0 auto 90px;
        font-size: 3.3rem;
        line-height: 4.3rem;
        padding: 0 40px;
      } */
      @include desktop {
        text-align: justify;
        font-size: 1.6rem;
      }
    }
    a {
      background-color: $color3;
      padding: 15px 0;
      color: $white;
      font-size: 2.3rem;
      display: block;
      width: 190px;
      margin: auto;
      /*  @include tablet {
        width: 310px;
        padding: 15px 0;
        font-size: 3.5rem;
      } */
      @include desktop {
        width: 120px;
        font-size: 1.5rem;
      }
    }
  }
  @include bgImages;
  background-image: url("./../assets/images/aboutUs/ourVision.jpg");
}

/*contact us main view*/

#contactus {
  padding: 50px 25px 40px;
  text-align: center;
  color: $white;
  background-color: $color1;
  h2 {
    margin-bottom: 35px;
    font-family: $fontTitle;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 5rem;
    /* @include tablet {
      font-size: 5rem;
    } */
    @include desktop {
      font-size: 5.2rem;
      line-height: 5.5rem;
    }
  }
  .contactus-content {
    max-width: 901px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "card1 card2"
        "card3 card4";
    }
    .form-description {
      order: 1;
      @include desktop {
        grid-area: card2;
      }
      p {
        &:nth-child(1) {
          margin: 0 0 50px;
          font-size: 1.8rem;
          line-height: 2.6rem;
          @include desktop {
            margin-bottom: 35px;
            line-height: 2.3rem;
          }
        }
        &:nth-child(2) {
          text-align: left;
          margin: 10px 0;
          font-size: 1.8rem;
          line-height: 2.5rem;
          @include desktop {
            margin-bottom: 0;
            font-size: 1.7rem;
            line-height: 2.3rem;
          }
        }
      }
    }
    .form-container {
      margin-top: 10px;
      order: 3;

      @include desktop {
        margin-top: -20px;
        padding: 0;

        grid-area: card4;
        width: 100%;
      }

      #mailto {
        visibility: hidden;
      }
      form {
        @include desktop {
          text-align: right;
        }
        .form-control {
          margin-bottom: 12px;
          @include desktop {
            margin-bottom: 8px;
          }
          input {
            width: 100%;
            padding-left: 10px;
            border: 0;
            outline: none;
            height: 38px;
            &::placeholder {
              font-family: $fontBase;
              color: $color1;
              font-size: 1.9rem;
              padding-left: 5px;
            }
          }
          textarea {
            width: 100%;
            height: 170px;
            padding-left: 5px;
            padding-top: 10px;
            outline: none;

            &::placeholder {
              font-family: $fontBase;
              color: $color1;
              font-size: 1.9rem;
              padding-left: 15px;
              padding-top: 3px;
            }
          }
        }
        .btn-sumbit {
          border: 0;
          outline: none;
          background-color: $color3;
          padding: 10px 30px;
          color: $white;
          font-size: 1.9rem;
          width: 100%;
          @include desktop {
            width: 40%;
            padding: 8px 10px;
            font-size: 2.1rem;
          }
        }
      }
    }
    .contactus-map {
      order: 2;
      @include desktop {
        grid-area: card1;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      #map {
        width: 100%;
        height: 270px;
        @include desktop {
          height: 520px;
        }
      }
    }
  }
}
