#portfolio {
  max-width: 1024px;
  margin: auto;
  @include padding;
  .swiper {
    width: 100%;
    height: 100%;
    .arrow-back,
    .arrow-next {
      z-index: 20;
      cursor: pointer;
      position: absolute;
      bottom: 50px;

      @include moto {
        bottom: 33px;
      }
      @include tablet {
        bottom: 34px;
      }
    }
    .arrow-next {
      right: 0;
    }
    .pagination {
      position: absolute;
      text-align: right;
      padding-right: 14px;
      z-index: 10;
      font-size: 1.6rem;
      bottom: 53px;
      @include moto {
        bottom: 36px;
      }
      @include tablet {
        bottom: 40px;
        font-size: 1.3rem;
      }
    }

    .arrow-back {
      right: 48px;
    }

    .swiper-slide {
      display: block;
      justify-content: center;
      align-items: center;

      .portfolio-image {
        width: 100%;
        height: 30vh;
        @include bgImages;
        @include tablet {
          height: 50vh;
        }
      }

      .portfolio-image1 {
        background-image: url("./../assets/images/portfolio/watches.jpg");
        background-position: 70%, 60%;
      }
      .portfolio-image2 {
        background-image: url("./../assets/images/portfolio/jewlery.jpg");
        background-position: 10%, 50%;
      }
      .portfolio-image3 {
        background-image: url("./../assets/images/portfolio/handbags.jpg");
        background-position: top, center;
      }
      .portfolio-image4 {
        background-image: url("./../assets/images/portfolio/travelGear.jpg");
      }
      .portfolio-image5 {
        background-image: url("./../assets/images/portfolio/homeGoods.jpg");
        background-position: 10% 50%;
      }
      .portfolio-image6 {
        background-image: url("./../assets/images/portfolio/moreToCome.jpg");
        background-position: 100%, 50%;
      }
      .alignement {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        color: $color2;
        padding: 10px 10px;
        div:first-child {
          width: 100%;
          text-align: initial;
          h4 {
            font-weight: normal;
            font-size: 1.8rem;
          }
          p {
            font-size: 1.5rem;
            @include desktop {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  .portfolio-description {
    margin: 30px 0 10px;
    @include tablet {
      margin: 50px 0 10px;
    }
    @include desktop {
      margin-bottom: 160px;
    }
    p {
      color: $color1;
      @include desktop {
        font-size: 1.6rem;
        line-height: 2.3rem;
        text-align: justify;
      }
    }
  }
}
