#portfolio {
  @include padding;
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      display: block;
      justify-content: center;
      align-items: center;
      .portfolio-image {
        width: 100%;
        height: 30vh;
        @include bgImages;
        @include tablet {
          height: 50vh;
        }
      }

      .portfolio-image1 {
        background-image: url("./../assets/images/portfolio/watches.jpg");
        background-position: 70%, 60%;
      }
      .portfolio-image2 {
        background-image: url("./../assets/images/portfolio/jewlery.jpg");
        background-position: 10%, 50%;
      }
      .portfolio-image3 {
        background-image: url("./../assets/images/portfolio/handbags.jpg");
        background-position: top, center;
      }
      .portfolio-image4 {
        background-image: url("./../assets/images/portfolio/travelGear.jpg");
      }
      .portfolio-image5 {
        background-image: url("./../assets/images/portfolio/homeGoods.jpg");
        background-position: 10% 50%;
      }
      .portfolio-image6 {
        background-image: url("./../assets/images/portfolio/moreToCome.jpg");
        background-position: 100%, 50%;
      }
      .alignement {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        color: $color2;
        padding: 10px 10px;
        div:first-child {
          width: 100%;
          text-align: initial;
        }
        .swiper-pagination {
          position: static;
          text-align: end;
        }
      }
    }
  }
  .portfolio-description {
    margin: 30px 0 10px;
    @include tablet {
      margin: 50px 0 10px;
    }
  }
}
