:root {
  /*font properties*/
  font-size: 62.5%;
}
$fontTitle: "Raleway";
$fontBase: "Open Sans";
$font-body: 1.8rem;
$font-caption: 1.5rem;
/*color properties*/
$white: #ffffff;
$black: #000000;
$color1: #2e5776;
$color2: #0c3c60;
$color3: #6ea4ca;
$color4: rgb(208, 208, 208);
$overlay1: #ffffff50;
$overlay2: #0c3c60bd;
